/* POPPINS FONT FAMILY */
/* @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css');

* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}

body{
  background-color: #F8F8FA;
}

/* <!-- Header Starts --> */

header{
  background-color: #4718FE;
  padding: 1rem 4rem;
  position: relative;
}

/* <!-- Navigation Bar Starts --> */

nav{
    /* background-color: bisque; */
    float: right;
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.nav-item{
  font-size: 1rem;
  color: #fff;
  font-weight: 300;
}

.nav-item-active{
  background-color: #fff;
  font-size: 1rem;
  font-weight: 600;
  color: #4718FE;
  padding: 2px 10px;
  border-radius: 3px;
}

nav svg{
  width: 18px;
  height: 18px;
  padding-top: 5px;
} 

nav .fa-bars {
  display: none;
}

/* <!-- LOGO --> */

.logo{
  width: 130px;
  padding-top: 1rem;
} 

/* <!-- Text --> */

 .header-text{
  /* background-color: red; */
  padding: 8rem 0;
}

.header-text img{
  width: 50px;
  padding-bottom: 1rem;
}

.header-text h2{
  font-size: 2.8rem;
  font-weight: 600;
  color: #fff;
}

.header-text p{
  padding-top: 10px;
  font-size: 1.3rem;
  font-weight: 200;
  color: #fff;
} 

/* <!-- Image --> */

.header-image{
  width: 720px;
  position: absolute;
  right: 0px;
  top: 80px;
}


/* <!-- Companies --> */

.companies{
  /* background-color: green; */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 2rem 4rem 8rem;
}

.company-items{
  text-decoration: none;
  color: #000;
  font-family: 'Righteous';
  font-size: 1.8rem;
  font-weight: 400;
  margin-right: 3rem;
}

/* <!-- API Section --> */

 .api{
    /* background-color: burlywood; */
    padding: 1rem 4rem;
    position: relative;
}

.api-heading{
  font-size: 3rem;
  font-weight: 800;
  line-height: 4rem;
  margin-bottom: 3rem;
} 

/* <!-- Cards --> */

.cards{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.card-active, .card{
  height: 12rem;
  border-radius: 10px;
  padding: 3rem 2rem;
}

.card-active{
  background-color: #fff;
  box-shadow: 0px 0px 10px 3px #6b6767;
}

.card:hover{
    background-color: #fff;
    box-shadow: 0px 0px 10px 3px #6b6767;
}


.card-logo{
  width: 60px;
  padding-bottom: 1rem;
}

.card-head-active{
  font-size: 1.5rem;
  font-weight: 600;
  color: #4718FE;
}

.card-head{
    font-size: 1.5rem;
    font-weight: 600;
}

.card-body{
  font-size: 14px;
}

.api::after{
    content: "\f138";
    font-family: 'Font Awesome 5 Free';
    font-size: 3rem;
    font-weight: 700;
    color: #4718FE;
    position: absolute;
    right: 5rem;
    bottom: 9rem;
}

/* <!-- Blog section --> */

 .blog-heading{
  padding-left: 4rem;
  font-size: 1.5rem;
  font-weight: 900;
  margin: 5rem 0 2rem;
  position: relative;
}

.blog-heading::after{
  content: "See All Articles";
  color: #4718FE;
  font-size: 1.5rem;
  font-weight: 700;
  position: absolute;
  right: 60px;
  bottom: 0;
} 

/* <!-- Blogs --> */

 .blog-cards{
    /* background-color: red; */
    margin-left: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 3rem;
}

.blog-card{
    position: relative;
    background-color: #fff;
    border-radius: 20px;
    flex: 0.48;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    height: 350px;
    border-top-left-radius: 70px;
  box-shadow: 0px 0px 10px 3px #d7d2d2;
  }

  .blog-image{
    overflow: hidden;
  }

  .blog-image img{
    width: 310px;
  }

  .blog-content h6{
    color: #7C5CFD;
    font-size: 1rem;
    font-weight: 700;
  }
  
  .blog-content h3{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  .blog-content small{
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
  }

  .blog-bottom{
    position: absolute;
    right: 15rem;
    bottom: -2rem;
  }

  .blog-card-bottom-image{
    width: 60px;
  }

  .blog-author{
    width: 50%;
    font-weight: 700;
    font-size: 1rem;
    position: absolute;
    right: 1.8rem;
    bottom: 0.2rem;
  }

/* <!-- FAQ SECTION --> */

.faq-section{
  background-color: #E9EDFF;
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
}

.faq-content{
    flex: 1;
    margin-left: 5rem;
  }
  

.faq-content h2{
  font-size: 2.5rem;
  line-height: 50px;
}

.faq-content h4:first-of-type{
  font-size: 13px;
  font-weight: 400;
  margin-top: 15px;
}

.faq-content h4:last-of-type{
  font-size: 1rem;
  font-weight: 600;
  margin-top: 25px;
}

.faq-content button{
  background-color: #4719FD;
  margin-top: 20px;
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
  padding: 7px 20px;
  border-radius: 5px;
  border: none;
}

.faq-image{
    flex: 1;
}

.faq-image img{
  float: right;
  width: 700px;
} 

/* <!-- Download --> */
 
.download-section{
  margin: 100px 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.download-content h1{
    font-size: 2rem;
    font-weight: 700;
}

.download-content span{
  font-weight: 400;
}

.download-email{
  background-color: #dde2f9;
  width: 40%;
  padding: 5px;
  border-radius: 30px;
}

.download-email form{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.download-email input{
  background-color: transparent;
  width: 50%;
  border: none;
  margin-left: 50px;
}

.download-email input::placeholder{
  color: #000;
  font-size: 1rem;
  font-weight: 400;
}

.download-email button{
  background-color: #4719FD;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 30px;
  border: none;
} 

/* <!-- Download --> */

.footer-section{
  background-color: #4719FD;
  padding: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer-section li{
  list-style: none;
}

.footer-left{
    width: 30%;
  }

.list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .list-items{
    font-size: 1rem;
    font-weight: 200;
    position: relative;
    color: #fff;
  }

.list-items:not(:last-child)::after{
  content: "";
  width: 2px;
  height: 15px;
  background-color: #fff;
  position: absolute;
  right: -22px;
  bottom: 3px;
}

.footer-left .list-items:first-child::after{
  content: "";
  width: 2px;
  height: 15px;
  background-color: #4719FD;
  position: absolute;
  right: -22px;
  bottom: 3px;
}


.footer-right{
  height: 80px;
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.footer-right1{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.footer-logos{
  margin-left: 20px;
}

.logos-list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} 
